
#titulo {   
    height: 20px;
    position: relative; 
    background: rgb(245, 233, 64);
   
}

body {

font-family: Arial,sans-serif;
background: rgb(153, 252, 255);
padding: 50px 50px 100px 100px;
}

#bloco {
padding: 50px;
align-items: center;
}

#resultado {
    background: white;
    padding: 20px;
    
}



